<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<property name="DEV_HOME" value="c:/temp" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{MM-dd HH:mm} %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/kwlog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/kwlog-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 10MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{MM-dd HH:mm} %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</root>

	<logger name="kworks" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</logger>

	<logger name="egovframework" level="ERROR" additivity="false">
		<appender-ref ref="ROLLING" />
	</logger>

	<logger name="org.springframework" level="ERROR" additivity="false">
		<appender-ref ref="ROLLING" />
	</logger>
	
	<logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</logger>

</configuration>